
* { text-align: center;

}
body {
    background-image: url(pics/pinkgrey.jpeg);
    background-size: cover;
}

ul {
	list-style: none;
	display: inline-block;
	vertical-align: middle;

}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: rgb(247, 245, 246);

}

a:hover {
	color: rgb(76, 88, 23);
	cursor: pointer;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: rgb(76, 0, 23);
    text-align: center;

}

/*盒子元素必须border和padding和margin挨着，不然不显示*/
.boxmodel {
	border: 5px solid red;
	display: inline-block;
	padding: 5px, 20px, 5px, 20px;
	margin: 3px;
	font-family: 'Roboto', sans-serif;
	color: rgb(247, 245, 246);
	border-color: rgb(85, 52, 0);

}